<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="Xrm" connectionString="Server=https://sysmexdev.crm.dynamics.com;AuthType=Office365;Username=martinh@sysmex.com;Password=Thisis15long!23;RequireNewInstance=true;" />
  </connectionStrings>
</configuration>