<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Sonomapartners.Xrm.DefaultData.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <userSettings>
    <Sonomapartners.Xrm.DefaultData.Console.Properties.Settings>
      <setting name="DeviceUserName" serializeAs="String">
        <value>11pbpboyjrqq3mrn9z3mbxzjvn</value>
      </setting>
      <setting name="DevicePassword" serializeAs="String">
        <value>zaZG(ep$Tsv;g@q$p`pMag!i</value>
      </setting>
    </Sonomapartners.Xrm.DefaultData.Console.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="HIQARoss" connectionString="Server=http://rtalbot/HIQARoss;"/>
    <add name="hostedAD" connectionString="Server=https://jll2011stage.crm2011stage.joneslanglasalle.com; Domain=DOMAINNAME; Username=admin; Password=PASSWORD"/>
    <add name="CRMOnline" connectionString="https://contoso.crm.dynamics.com; Username=jsmith@live-int.com; Password=passcode; DeviceID=contoso-ba9f6b7b2e6d; DevicePassword=passcode"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Crm.Sdk.Proxy" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Xrm.Sdk.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.17.3.35304" newVersion="3.17.3.35304"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
